/* Index */
.index-main-container {
    width: 100%;
    height: 100%;
    gap: 40px;
}

.index-main-container-right,
.index-main-container-left {
    width: 50%;
    padding: 10px;
}

.index-main-container-left {
    gap: 100px;
}

.index-main-container-right {
    gap: 15px;
}

.index-logo-and-slogan {
    padding: 10px;
}

.index-logo-and-slogan h1 {
    padding: 0px 15px;
}

.index-logo-and-slogan img {
    width: 100%;
}

.index-crea-y-comparte {
    padding: 20px;
    gap: 40px;
}

.index-crea,
.index-comparte {
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
    background-color: var(--static-elements-secondary-bg-color);
}

.index-crea a button,
.index-comparte a button {
    background-color: var(--button-secondary--bg-color);
    color: var(--dark-letter-color);
}

.index-posts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.post-card {
    background-color: var(--static-elements-secondary-bg-color);
    padding: 20px;
    border: 4px solid var(--button-secondary--hover-bg-color);
    border-radius: 5px;
    gap: 10px;
}

.post-card-img-a {
    height: 200px;
    border-radius: 5px;
}

.post-card-img {
    max-width: 350px;
    border-radius: 5px;
}

.post-card-title-container,
.post-card-user {
    gap: 5px;
}

.post-card-user {
    font-weight: bold;
    width: 60%;
}

.post-card-tags {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}


/* Single post view */
.container-code {
    width: 100%;
    height: 320px;
    display: flex;
    gap: 10px;
    padding: 10px 0px;
}

.code-background {
    background-color: black;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    border: 2px solid #b2b2b2;
}

.code-title {
    background-color: var(--static-elements-secondary-bg-color);
    border-radius: 10px 10px 0 0;
    color: white;
    font-weight: bold;
    padding: 10px;
    gap: 5px;
}

#html-code,
#css-code,
#js-code {
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    resize: none;
    padding: 10px;
    background-color: #1E1E1E;
    color: white;
}

#html-code:focus,
#css-code:focus,
#js-code:focus,
#html-code:active,
#css-code:active,
#js-code:active {
    outline: 1px solid #b2b2b2;
}

#final-code-container {
    width: 100%;
    height: 100%;

    & h2 {
        color: white;
    }
}

#final-code {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    color: black;
}


/* LOGIN & REGISTER*/

.login,
.register {
    padding: 40px 60px;
    gap: 30px;
    background-color: var(--static-elements-secondary-bg-color);
    border-radius: 5px;
}

.login-form,
.login-input,
.login-input .form-control {
    width: 100%;
}

.login-form {
    gap: 10px;
}

.login-input {
    gap: 10px;
}

.login-input:nth-child(2) {
    margin-bottom: 10px;
}

.login-resgister-anchor:hover {
    color: var(--button-primary--hover-bg-color);
}

.login-input span {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.form-control {
    padding: 10px 15px;
    background: none;
    border: none;
    border-bottom: 1px solid #b2b2b2;
    border-radius: 5px 5px 0px 0px;
}

.form-control:hover,
.form-control:focus-visible {
    outline-offset: none;
    outline: none;
    background-color: #f5f5f50f;
}

.login-box-message {
    font-size: smaller;
    color: red;
    padding-bottom: 5px;
}

.login-buttons {
    justify-content: space-between;
}

.register h1 {
    gap: 15px;
}

.register-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
}

.register-input {
    grid-column: span 2;
}

.register-input:nth-child(6) {
    margin-bottom: 10px;
}

.register-div-errs {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.register-buttons {
    grid-column: span 2;
    justify-content: space-between;
}

/* USUARIOS*/
.users-page-container {
    gap: 30px;
    width: 100%;
    max-width: 1600px;
}

.users-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    justify-items: center;
}

.users-card {
    background-color: var(--static-elements-secondary-bg-color);
    padding: 10px;
    border: 4px solid var(--button-secondary--hover-bg-color);
    border-radius: 5px;
    gap: 10px;
    max-width: 400px;
}

.user-name-container {
    justify-content: space-between;
}

.user-name,
.user-content {
    gap: 10px;
}

.user-name {
    align-items: baseline;
}

.user-img {
    font-size: 30px;
}

.user-follow span {
    color: var(--dark-letter-color);
}

/* POSTS */
.posts-container {
    gap: 30px;
}

.posts-cards-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    justify-items: center;
}

.post-card {
    width: 100%;
    max-width: 500px;
}

/* CONTACT */
.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form-span {
    grid-column: span 2;
}

.contact-form-span input {
    width: 100%;
}

.contact-cont {
    padding: 40px 60px;
    gap: 30px;
    background-color: var(--static-elements-secondary-bg-color);
    border-radius: 5px;
}

.contact-form-textarea {
    padding: 10px 15px;
    background: none;
    border-radius: 5px;
    width: 100%;
}