.login,
.register {
    padding: 40px 60px;
    gap: 30px;
    background-color: var(--static-elements-secondary-bg-color);
    border-radius: 5px;
}

.login-form,
.login-input,
.login-input .form-control {
    width: 100%;
}

.login-form {
    gap: 10px;
}

.login-input {
    gap: 10px;
}

.login-input:nth-child(2) {
    margin-bottom: 10px;
}

.login-resgister-anchor:hover {
    color: var(--button-primary--hover-bg-color);
}

.login-input span {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.form-control {
    padding: 10px 15px;
    background: none;
    border: none;
    border-bottom: 1px solid #b2b2b2;
    border-radius: 5px 5px 0px 0px;
}

.form-control:hover,
.form-control:focus-visible {
    outline-offset: none;
    outline: none;
    background-color: #f5f5f50f;
}

.login-box-message {
    font-size: smaller;
    color: red;
    padding-bottom: 5px;
}

.login-buttons {
    justify-content: space-between;
}

.register h1 {
    gap: 15px;
}

.register-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
}

.register-input {
    grid-column: span 2;
}

.register-input:nth-child(6) {
    margin-bottom: 10px;
}

.register-div-errs {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.register-buttons {
    grid-column: span 2;
    justify-content: space-between;
}