.login,
.register {
    padding: 40px 60px;
    gap: 30px;
    background-color: var(--static-elements-secondary-bg-color);
    border-radius: 5px;
    width: 100%;
}

.login {
    max-width: 500px;
}

.register {
    max-width: 600px;
}

.login-form,
.login-input,
.login-input .form-control {
    width: 100%;
}

.login-form {
    gap: 10px;
}

.login-input {
    gap: 10px;
}

.login-input:nth-child(2) {
    margin-bottom: 10px;
}

.login-resgister-anchor {
    font-weight: bold;
}

.login-resgister-anchor:hover {
    color: var(--button-primary--hover-bg-color);
}

.login-input span {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.login-box-message {
    font-size: smaller;
    color: red;
    padding-bottom: 5px;
}

.login-buttons {
    justify-content: space-between;
}

.register h1 {
    gap: 15px;
}

.register-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
}

.register-input {
    grid-column: span 2;
}

.register-input.space {
    gap: 10px;
}

.register-div-errs {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.register-buttons {
    grid-column: span 2;
    justify-content: space-between;
}

.register-privacity {
    gap: 10px;
    padding: 10px 0px;
}

.register-privacity input {
    width: 15px;
    height: 15px;
    cursor: pointer;
    accent-color: var(--button-primary--bg-color);
}

.register-privacity a {
    font-weight: bold;
}

.register-privacity a:hover {
    color: var(--button-primary--bg-color);
}

.error-fl {
    margin-top: 10px;
}

@media (max-width: 847px) {
    .register-input.space {
        flex-direction: column;
    }

    .register-form {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .login,
    .register {
        padding: 20px 30px;
    }

    .register-form input {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 20px;
        grid-column: span 2;
    }

    .register-buttons {
        gap: 20px;
    }

    .fa-clipboard-list {
        font-size: 22px;
    }
}